---
import TextPageLayout from '../layouts/TextPageLayout.astro';
---

<TextPageLayout
  title="Get Help"
  description="Get help with Flotilla. Reach our support team by email at support@coracle.social."
>
  <p>
    Need help? Please get in touch by sending an email to <a href="mailto:support@coracle.social">support@coracle.social</a>.
  </p>
</TextPageLayout>
